<!DOCTYPE html>

<html>
	<head>
		<title>Money Management</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="libs/jquery-1.9.1.min.js"></script>
		<script src="private/js/scripts.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
	</head>

	<body>
		<h1>Money Management</h1>
		<div class="card_view"></div>
		<div class="result_view" hidden>
			<div class="earned_view">
				<div class="money_earned">Money Earned: $0.00</div>
				<div class="earned_chart"></div>
			</div>
			<div class="spent_view">
				<div class="money_spent">Money Spent: $0.00</div>
				<div class="spent_chart"></div>
			</div>
			<div class="money_remaining">Remaining Balance: $0.00</div>
		</div>
	</body>

	<footer>
		<p>Created by Michael Crabill and Nikolas Ogg</p>
	</footer>
</html>