<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Webhook Admin Page</title>

		<!-- Bootstrap and JQuery-->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<!-- Custom stuff -->
		<link rel="stylesheet" href="private/css/style.css" />
		<script src="private/js/scripts.js"></script>
	</head>

	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Webhook Admin Page</a>
				</div>
				<div id="navbar">
					<div class="nav navbar-nav navbar-right">
						<ul class="nav navbar-nav">
							<button class="btn btn-warning navbar-btn" onclick="sendWebhookRequest()">Send Webhook Request</button>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h4>Current script: <%= script %></h4>
			</div>
			<div class="row">
				<div class="col-md-4 request_container">
					<div class="row">
						<h5 class="col-md-12">
							Past Requests
							<button class="btn btn-primary btn-xs refresh_button" onclick="refresh()">Refresh <span class="glyphicon glyphicon-refresh" /></button>
						</h5>
					</div>
					<div class="requests col-md-12">
						<div class="row">
							<h6 class="col-md-12">Loading Data...</h6>
						</div>
					</div>
				</div>
				<div class="col-md-8 info_container">
					<div class="row">
						<h5 class="col-md-12">Request Information</h5>
						<div>
							<h6 class="row col-md-offset-1 col-md-11">Request Time</h6>
							<div class="row col-md-offset-2 col-md-10 request_time_info"></div>
						</div>
						<div>
							<h6 class="row col-md-offset-1 col-md-11">Request Body</h6>
							<div class="row col-md-offset-2 col-md-10 request_body_info"></div>
						</div>
						<div>
							<h6 class="row col-md-offset-1 col-md-11">Request Output</h6>
							<div class="row col-md-offset-2 col-md-10 request_output_info"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>