.nav .navbar-nav {
	padding-right: 20px;
}

.refresh_button {
	margin-left: 20px;
}

.requests {
	overflow: scroll;
}

h6 {
	color: #777777;
}

.requests .panel-body:hover {
	background-color: #D3D3D3;
	cursor: pointer;
	cursor: hand;
}

.requests .selected {
	background-color: #EEEEEE;
}